<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="~{index::head}">
    <meta charset="UTF-8">
    <title>New Facility</title>
    <link rel="stylesheet" href="/assets/css/custom.css">
</head>
<body>
<header th:replace="~{index::header}"></header>
<session class="hero-animated d-flex align-items-center">
    <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative">

        <div class="card w-100">
            <h2>New Facility</h2>
            <form action="" method="post">
                <div class="row">

                    <div class="col">
                        <div class="form-group">
                            <label>Start Date</label>
                            <input type="date">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>End Date</label>
                            <input type="date">
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label>Customer</label>
                            <select>
                                <option value="1">Khách hàng 1</option>
                                <option value="2">Khách hàng 2</option>
                                <option value="3">Khách hàng 3</option>
                                <option value="4">Khách hàng 4</option>
                            </select>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label>Facility</label>
                            <select>
                                <option value="" disabled selected>--Select Employee--</option>
                                <option value="1">Dịch vụ 1</option>
                                <option value="2">Dịch vụ 2</option>
                                <option value="3">Dịch vụ 3</option>
                                <option value="4">Dịch vụ 4</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Employee</label>
                            <select>
                                <option value="" disabled selected>--Select Employee--</option>
                                <option value="1">Nhân viên 1</option>
                                <option value="2">Nhân viên 2</option>
                                <option value="3">Nhân viên 3</option>
                                <option value="4">Nhân viên 4</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Deposit</label>
                            <input type="text">
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label>Total</label>
                            <input type="text" readonly>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label>Free Facility</label>
                            <p class="btn btn-free-facility card-button-modal" data-bs-toggle="modal"
                               data-bs-target="#modalAddContractDetail">
                                +
                            </p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group" style="margin-left: 150px">
                            <a class="btn btn-secondary" th:href="@{/contract}">Back</a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group" style="margin-left: 150px ">
                            <button type="submit" class="btn-modal-delete">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>


        <!--Modal Add Contract Detail-->

        <div class="modal fade modal-create " id="modalAddContractDetail" tabindex="-1"
             aria-labelledby="modalAddContractDetailLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable ">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5>New Contract Detail</h5>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post">
                            <table border="none">
                                <tr>
                                    <td><label>Free Facility</label></td>
                                    <td>
                                        <select>
                                            <option value="1">Xe đạp</option>
                                            <option value="2">Spa</option>
                                            <option value="3">Buffet sáng</option>
                                            <option value="4">Buffet tối</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label>Quantity</label></td>
                                    <td><input type="number"></td>
                                </tr>
                                <td colspan="2">
                                    <a class="btn btn-secondary" data-bs-dismiss="modal"
                                       style="margin-right: 200px">Close</a>
                                    <button type="submit" class="btn-modal-delete">Add</button>
                                </td>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>
</session>
<footer th:replace="~{index::footer}"></footer>

<th:block th:insert="~{index::script}"></th:block>
</body>
</html>