<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="/layout::navbar"></nav>
<div class="m-auto w-50"><h3>Do you want to delete category "<span style="color: maroon" th:text="${category.categoryName}"></span>"? </h3>
</div>

<form th:action="@{/blog/category/delete}" method="post" th:object="${category}" class="w-50 m-auto">
    <input type="hidden" th:field="*{categoryId}">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Category Name</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
               th:field="*{categoryName}" readonly>
    </div>
    <button type="submit" class="btn btn-primary">Delete</button>
</form>
<footer th:replace="/layout::footer"></footer>

</body>
<script th:replace="layout::bootstrapBundle"></script>
</html>