<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout::head">
    <meta charset="UTF-8">
    <title>Product List</title>
</head>
<body>
<nav th:replace="/layout::navbar"></nav>
<h3>Blog List</h3>

<div th:if="${success}">
    <div class="success" th:text="${success}"></div>
</div>
<a th:href="@{/blog(sort='title,asc')}">Sort by title</a>

<table class="table table-success table-striped">
    <thead >
    <tr style="color: darkcyan">
        <th>#</th>
        <th>Title</th>
        <th>Summary</th>
        <th>Creating Date</th>
        <th>Category</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row,rowStat : ${blogList}">
        <td th:text="${rowStat.count}"></td>
        <td th:text="${row.title}"></td>
        <td th:text="${row.summary}"></td>
        <td th:text="${row.creatingDate}"></td>
        <td th:text="${row.category.categoryName}"></td>
        <td><a th:href="@{/blog/{id}/edit(id=${row.getId()})}">edit</a></td>
        <td><a th:href="@{/blog/{id}/delete(id=${row.getId()})}">delete</a></td>
        <td><a th:href="@{/blog/{id}/view(id=${row.getId()})}">view</a></td>
    </tr>
    </tbody>
</table>
<div class="row">
    <div class="col-12">
    <a th:if="${blogList.hasPrevious()}"
       th:href="@{/blog(page=${blogList.number - 1} , sort=${sortItem})}">Previous</a>
    <span th:text="${blogList.number+1}"></span>
    /
    <span th:text="${blogList.totalPages}"></span>
    <a th:if="${blogList.hasNext()}"
       th:href="@{/blog(page=${blogList.number + 1} , sort=${sortItem})}">Next</a>
    </div>
</div>

<footer th:replace="/layout::footer"></footer>
</body>
<script th:replace="layout::bootstrapBundle"></script>
</html>