<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="/layout::navbar"></nav>

<div>
    <div>
        <h3  class="display-2 h2" th:text="${blog.title}"></h3>
    </div>
    <div>
        <h5 th:text="${blog.category.categoryName}"></h5>
    </div>
    <div class="h-50 fst-italic">
        <p class="display-6" th:text="${blog.content}"></p>
    </div>
    <div>
        <h5 class="right" th:text="${blog.creatingDate}"></h5>
    </div>
</div>
<footer th:replace="/layout::footer"></footer>

</body>
<script th:replace="layout::bootstrapBundle"></script>
</html>