<section id="hero-animated" class="hero-animated d-flex align-items-center" data-aos="zoom-out">

  <div data-aos="zoom-out" class="container d-flex flex-column justify-content-center align-items-center text-center position-relative">
    <img src="/assets/img/fhomepage.jpg" class="img-fluid animated">
    <h2>Welcome to <span>Furama Resort</span></h2>
    <p>A culinary resort on one of the six most luxurious beaches in the world</p>
  </div>
</section>

<!-- ======= Services Section ======= -->
<section id="services" class="services">
  <div class="container" data-aos="fade-up">

    <div class="section-header">
      <h2>ROOMS & SUITES</h2>
      <p>All 198 rooms & suites have polished timber floors, natural fabrics, comfortable cane furniture,
        plantation style shutters and ceiling fans. Each room also has its own balcony or spacious terrace
        providing complete privacy and with a superb view of the ocean, the tropical garden or the freshwater
        swimming lagoon pool.
      </p>
      <br>
      <a routerLink="/facility/list">View all rooms</a>
    </div>

    <div class="row gy-5">

      <div class="col-xl-4 col-md-6" data-aos="zoom-in-up" data-aos-delay="100">
        <div class="service-item">
          <div class="img">
            <img src="/assets/img/fGarden-Deluxe-twin-bed.jpg" class="img-fluid" alt="">
          </div>
          <div class="details position-relative">
            <a href="" class="stretched-link">
              <h3>Garden Deluxe</h3>
            </a>
            <p>Room size: 43.7 m2</p>
            <p>Price: 1.000.000 VND</p>
          </div>
        </div>
      </div><!-- End Service Item -->

      <div class="col-xl-4 col-md-6" data-aos="zoom-in-up"  data-aos-delay="100" >
        <div class="service-item">
          <div class="img">
            <img src="/assets/img/fOcean-Deluxe-double-bed.jpg" class="img-fluid" alt="">
          </div>
          <div class="details position-relative">
            <a href="" class="stretched-link">
              <h3>Ocean Deluxe</h3>
            </a>
            <p>Room size: 43.7 m2</p>
            <p>Price: 1.200.000 VND</p>
          </div>
        </div>
      </div><!-- End Service Item -->
      <div class="col-xl-4 col-md-6" data-aos="zoom-in-up"  data-aos-delay="100">
        <div class="service-item">
          <div class="img">
            <img src="/assets/img/fOcean-Suite-Feature.jpg" class="img-fluid" alt="">
          </div>
          <div class="details position-relative">
            <a href="" class="stretched-link">
              <h3>Ocean Suite</h3>
            </a>
            <p>Room size: 85.8 m2</p>
            <p>Price: 2.000.000 VND</p>
          </div>
        </div>
      </div><!-- End Service Item -->
    </div>
  </div>
</section><!-- End Services Section -->

