<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Song</title>
</head>
<body>
<h2>New Song</h2>
<a href="music/list">Back to Song List</a>
<form action="create" method="post" th:object="${songDto}">
    <table>
        <tr>
            <td><strong>Song name: </strong></td>
            <td>
                <input th:field="*{name}"/>
            </td>
        </tr>
        <tr>
            <td><strong>Singer: </strong></td>
            <td><input th:field="*{artist}"/></td>
        </tr>
        <tr>
            <td><strong>Music Type: </strong></td>
            <td><input th:field="*{musicType}"/></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit">Create</button>
                <button type="reset">Cancel</button>
            </td>
        </tr>
    </table>
</form>

</body>
</html>