<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Music</title>
</head>
<body>
<h2>Song List</h2>
<div style="margin: 10px 0">
    <a href="/music/create">New Song</a>
</div>
<div th:if="${success}">
    <h4 style="color: green" th:text="${success}"></h4>
</div>
<table border="1">
    <tr>
        <th>#</th>
        <th>Song Name</th>
        <th>Artist</th>
        <th>Music Type</th>
        <th>Edit</th>

    </tr>
    <tr th:each="song,stat:${songList}">
        <td th:text="${stat.count}"></td>
        <td th:text="${song.name}"></td>
        <td th:text="${song.artist}"></td>
        <td th:text="${song.musicType}"></td>
        <td><a th:href="@{/music/{id}/edit(id=${song.getId()})}">Edit</a></td>
    </tr>
    </div>
</table>

</body>
</html>