<!--Homepage Promotion Start-->

<div class="col-lg-9 m-auto">
  <div id="header-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" style="height: 500px;">

        <img class="d-block w-100" src="../../assets/img/laptop_macbook_pro.jpg" alt="Image">
        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
          <div class="p-3" style="max-width: 700px;">
            <h4 class="text-light text-uppercase font-weight-medium mb-3">Giảm 10% cho hóa đơn đầu tiên của bạn </h4>
            <h3 class="display-4 text-white font-weight-semi-bold mb-4">MacBook Pro</h3>
            <a routerLink="" class="btn btn-light py-2 px-3">Mua ngay</a>
          </div>
        </div>
      </div>
      <div class="carousel-item" style="height: 500px;">
        <img class="d-block w-100 " src="../../assets/img/mobile_ip14.jpg" alt="Image">
        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
          <div class="p-3" style="max-width: 700px;">
            <h4 class="text-light text-uppercase font-weight-medium mb-3">Giảm 10% cho hóa đơn đầu tiên của bạn</h4>
            <h3 class="display-4 text-white font-weight-semi-bold mb-4">IPhone 14</h3>
            <a routerLink="" class="btn btn-light py-2 px-3">Mua ngay</a>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" data-bs-target="#header-carousel" data-bs-slide="prev">
      <div class="btn btn-dark" style="width: 45px; height: 45px;">
        <span class="carousel-control-prev-icon mb-n2"  aria-hidden="true"></span>
      </div>
    </a>
    <a class="carousel-control-next" data-bs-target="#header-carousel" data-bs-slide="next">
      <div class="btn btn-dark" style="width: 45px; height: 45px;">
        <span class="carousel-control-next-icon mb-n2"  aria-hidden="true"></span>
      </div>
    </a>
  </div>
</div>
<!--Homepage Promotion Start-->


<!-- Featured Start -->
<div class="container-fluid pt-5">
  <div class="row px-xl-5 pb-3">
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
      <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
        <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
        <h5 class="font-weight-semi-bold m-0">Sản phẩm chính hãng</h5>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
      <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
        <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
        <h5 class="font-weight-semi-bold m-0">Giao hàng toàn quốc</h5>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
      <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
        <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
        <h5 class="font-weight-semi-bold m-0">Bảo hành đến 12 tháng</h5>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
      <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
        <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
        <h5 class="font-weight-semi-bold m-0">Hỗ trợ 24/7</h5>
      </div>
    </div>
  </div>
</div>
<!-- Featured End -->


<!-- Categories Start -->
<div class="container-fluid pt-5">
  <div class="row px-xl-5 pb-3">
    <div class="col-lg-3 col-md-3 pb-1 ">
      <div class="cat-item d-flex flex-column border mb-4 text-center bg-primary "
           style="padding: 30px; border-radius: 40px">
        <p class="text-right small text-dark">15 Sản phẩm</p>
        <a routerLink="" class="cat-img position-relative overflow-hidden mb-3 text-center">
          <img class="img-fluid" src="../../assets/img/mobile_ip_catelog.png" alt="" style="height: 100px">
        </a>
        <h5 class="font-weight-semi-bold m-0">IPhone</h5>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 pb-1 ">
      <div class="cat-item d-flex flex-column border mb-4 text-center bg-primary"
           style="padding: 30px; border-radius: 40px">
        <p class="text-right small text-dark">10 Sản phẩm</p>
        <a routerLink="" class="cat-img position-relative overflow-hidden mb-3 text-center">
          <img class="img-fluid" src="../../assets/img/laptop_mac_catelog.png" alt="" style="height: 100px">
        </a>
        <h5 class="font-weight-semi-bold m-0">MacBook</h5>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 pb-1 ">
      <div class="cat-item d-flex flex-column border mb-4 text-center bg-primary"
           style="padding: 30px; border-radius: 40px">
        <p class="text-right small text-dark">15 Sản phẩm</p>
        <a routerLink="" class="cat-img position-relative overflow-hidden mb-3 text-center">
          <img class="img-fluid" src="../../assets/img/watch_catelog.png" alt="" style="height: 100px">
        </a>
        <h5 class="font-weight-semi-bold m-0">Đồng hồ</h5>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 pb-1">
      <div class="cat-item d-flex flex-column border mb-4 text-center bg-primary"
           style="padding: 30px; border-radius: 40px">
        <p class="text-right small text-dark">7 Sản phẩm</p>
        <a routerLink="" class="cat-img position-relative overflow-hidden mb-3">
          <img class="img-fluid" src="../../assets/img/headphone_catelog.png" alt="" style="height: 100px">
        </a>
        <h5 class="font-weight-semi-bold m-0">Tai nghe</h5>
      </div>
    </div>

  </div>
</div>
<!-- Categories End -->


<!-- IPhone Products Start -->
<div class="container-fluid pt-5">
  <div class="text-center mb-4">
    <h2 class="section-title px-5"><span class="px-2">IPhone</span></h2>
  </div>
  <div class="row px-xl-5 pb-3">
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
      <div class="card product-item mb-4 border-primary rounded-lg">
        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0 rounded-lg">
          <img class="img-fluid w-100" src="../../assets/img/ip13promax128gb.png" alt="IPhone13 Pro Max 128GB">
        </div>
        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
          <h6 class="text-truncate mb-3">IPhone13 Pro Max 128GB</h6>
          <div class="d-flex justify-content-center">
            <h6>27.490.000đ</h6>
            <h6 class="text-muted ml-2">
              <del>33.990.000đ</del>
            </h6>
          </div>
        </div>
        <div class="card-footer d-flex justify-content-between bg-light border rounded-lg">
          <a routerLink="/detail" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i> <span
            style="font-size: 12px">Chi tiết</span></a>
          <a routerLink="" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>
            <span style="font-size: 12px">Thêm vào giỏ hàng</span></a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
      <div class="card product-item mb-4 border-primary rounded-lg">
        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0 rounded-lg">
          <img class="img-fluid w-100" src="../../assets/img/ip13128gb.png" alt="IPhone 13 128GB">
        </div>
        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
          <h6 class="text-truncate mb-3">IPhone 13 128GB</h6>
          <div class="d-flex justify-content-center">
            <h6>19.190.000đ</h6>
            <h6 class="text-muted ml-2">
              <del>24.990.000đ</del>
            </h6>
          </div>
        </div>
        <div class="card-footer d-flex justify-content-between bg-light border rounded-lg">
          <a routerLink="/detail" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i> <span
            style="font-size: 12px">Chi tiết</span></a>
          <a routerLink="" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>
            <span style="font-size: 12px">Thêm vào giỏ hàng</span></a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
      <div class="card product-item mb-4 border-primary rounded-lg">
        <div class="card-header product-img position-relative overflow-hidden bg-transparent border rounded-lg p-0">
          <img class="img-fluid w-100" src="../../assets/img/ip12_128gb.png" alt="IPhone 12 128GB">
        </div>
        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3 rounded-lg">
          <h6 class="text-truncate mb-3">IPhone 12 128GB</h6>
          <div class="d-flex justify-content-center">
            <h6>19.490.000đ</h6>
            <h6 class="text-muted ml-2">
              <del>21.990.000đ</del>
            </h6>
          </div>
        </div>
        <div class="card-footer d-flex justify-content-between bg-light border rounded-lg">
          <a routerLink="/detail" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i> <span
            style="font-size: 12px">Chi tiết</span></a>
          <a routerLink="" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>
            <span style="font-size: 12px">Thêm vào giỏ hàng</span></a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
      <div class="card product-item mb-4 border-primary rounded-lg">
        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0 rounded-lg">
          <img class="img-fluid w-100" src="../../assets/img/ip11_64gb.png" alt="IPhone 11 64GB">
        </div>
        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3 rounded-lg">
          <h6 class="text-truncate mb-3">IPhone 11 64GB</h6>
          <div class="d-flex justify-content-center">
            <h6>10.690.000đ</h6>
            <h6 class="text-muted ml-2">
              <del>14.990.000đ</del>
            </h6>
          </div>
        </div>
        <div class="card-footer d-flex justify-content-between bg-light border rounded-lg">
          <a routerLink="/detail" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i> <span
            style="font-size: 12px">Chi tiết</span></a>
          <a routerLink="" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>
            <span style="font-size: 12px">Thêm vào giỏ hàng</span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center mb-4">
    <a routerLink="" class="btn border-primary text-primary rounded-lg">Xem thêm</a>
  </div>
</div>
<!-- IPhone Products End -->


<!-- Mac Products Start -->
<div class="container-fluid pt-5">
  <div class="text-center mb-4">
    <h2 class="section-title px-5"><span class="px-2">MacBook</span></h2>
  </div>
  <div class="row px-xl-5 pb-3">
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
      <div class="card product-item mb-4 border-primary rounded-lg">
        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0 rounded-lg">
          <img class="img-fluid w-100" src="../../assets/img/mac_pro_16_inch_m1_pro_2021_16core_GPU.png"
               alt="MacBook Pro 16 inch M1 Pro 2021 16-Core GPU">
        </div>
        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3 rounded-lg">
          <h6 class="text-truncate mb-3">MacBook Pro 16 inch M1 Pro 2021 16-Core GPU</h6>
          <div class="d-flex justify-content-center">
            <h6>60.290.000đ</h6>
            <h6 class="text-muted ml-2">
              <del>63.790.000đ</del>
            </h6>
          </div>
        </div>
        <div class="card-footer d-flex justify-content-between bg-light border rounded-lg">
          <a routerLink="/detail" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i> <span
            style="font-size: 12px">Chi tiết</span></a>
          <a routerLink="" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>
            <span style="font-size: 12px">Thêm vào giỏ hàng</span></a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
      <div class="card product-item mb-4 border-primary rounded-lg">
        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0 rounded-lg">
          <img class="img-fluid w-100" src="../../assets/img/mac_pro_14_inch_m1_pro_2021_14core_GPU.png"
               alt="MacBook Pro 14 inch M1 2021">
        </div>
        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3 rounded-lg">
          <h6 class="text-truncate mb-3">MacBook Pro 14 inch M1 2021</h6>
          <div class="d-flex justify-content-center">
            <h6>48.990.000đ</h6>
            <h6 class="text-muted ml-2">
              <del>52.490.000đ</del>
            </h6>
          </div>
        </div>
        <div class="card-footer d-flex justify-content-between bg-light border rounded-lg">
          <a routerLink="/detail" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i> <span
            style="font-size: 12px">Chi tiết</span></a>
          <a routerLink="" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>
            <span style="font-size: 12px">Thêm vào giỏ hàng</span></a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
      <div class="card product-item mb-4 border-primary rounded-lg">
        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0 rounded-lg">
          <img class="img-fluid w-100" src="../../assets/img/mac_pro_13_inch_m2_2022.png"
               alt="MacBook Pro 13 inch M2 2022">
        </div>
        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3 rounded-lg">
          <h6 class="text-truncate mb-3">MacBook Pro 13 inch M2 2022</h6>
          <div class="d-flex justify-content-center">
            <h6>38.490.000đ</h6>
            <h6 class="text-muted ml-2">
              <del>41.990.000đ</del>
            </h6>
          </div>
        </div>
        <div class="card-footer d-flex justify-content-between bg-light border rounded-lg">
          <a routerLink="/detail" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i> <span
            style="font-size: 12px">Chi tiết</span></a>
          <a routerLink="" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>
            <span style="font-size: 12px">Thêm vào giỏ hàng</span></a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
      <div class="card product-item mb-4 border-primary rounded-lg">
        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0 rounded-lg">
          <img class="img-fluid w-100" src="../../assets/img/mac_air_m2_2022_8core_GPU.png"
               alt="MacBook Air M2 2022 8-core GPU">
        </div>
        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3 rounded-lg">
          <h6 class="text-truncate mb-3">MacBook Air M2 2022 8-core GPU</h6>
          <div class="d-flex justify-content-center">
            <h6>29.790.000đ</h6>
            <h6 class="text-muted ml-2">
              <del>32.990.000đ</del>
            </h6>
          </div>
        </div>
        <div class="card-footer d-flex justify-content-between bg-light border rounded-lg">
          <a routerLink="/detail" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i> <span
            style="font-size: 12px">Chi tiết</span></a>
          <a routerLink="" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>
            <span style="font-size: 12px">Thêm vào giỏ hàng</span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center mb-4">
    <a routerLink="" class="btn border-primary text-primary rounded-lg">Xem thêm</a>
  </div>
</div>
<!-- Mac Products End -->
