<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
<header id="header" class="header fixed-top" data-scrollto-offset="0"></header>
<section class="facility-container d-flex align-items-center">
    <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative">

        <div class="card w-100">
            <h2>New Facility</h2>
            <form action="" method="post">
                <div class="row m-auto">
                    <div class="col">
                        <div class="form-group">
                            <label>Facility Name</label>
                            <input type="text" >
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Area</label>
                            <input type="text" >
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Cost (VND)</label>
                            <input type="text" >
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Max People</label>
                            <input type="number" >
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Rent Type</label>
                            <select >
                                <option value="" hidden selected>--Select Rent Type--</option>
                                <option >Year</option>
                                <option >Month</option>
                                <option >Day</option>
                                <option >Hour</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Facility Type</label>
                            <select id="facility-type" onchange="getInfo()">
                                <option class="select-items" value="-1" hidden selected>--Select Facility Type--
                                </option>
                                <option value="1">Villa</option>
                                <option value="2">House</option>
                                <option value="3">Room</option>
                            </select>
                        </div>
                    </div>

                    <div class="col" id="standard-room" style="display: none">
                        <div class="form-group">
                            <label>Standard Room</label>
                            <input type="text">
                        </div>
                    </div>

                    <div class="col" id="other-convenience" style="display: none">
                        <div class="form-group">
                            <label>Other Convenience</label>
                            <input type="text" >
                        </div>
                    </div>
                    <div class="col" id="pool-area" style="display: none">
                        <div class="form-group">
                            <label>Pool Area</label>
                            <input type="text">
                        </div>
                    </div>
                    <div class="col" id="number-of-floors" style="display: none">
                        <div class="form-group">
                            <label>Number of Floors</label>
                            <input type="number">
                        </div>
                    </div>
                    <div class="col" id="free-facility" style="display: none">
                        <div class="form-group">
                            <label>Free Facility</label>
                            <textarea >
                            </textarea>
                        </div>
                    </div>

                    <div class="col">
                        <a class="btn btn-secondary" href="" >Cancel</a>
                        <button class="btn btn-modal-delete" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</section>

<footer id="footer" class="footer"></footer>
<script id="script"></script>
<script src="../../static/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("head").load("../../templates/head-in-folder.html");
        $("#header").load("../../templates/header-in-folder.html");
        $("#footer").load("../../templates/footer.html");
        $("#script").load("../../templates/script-in-folder.html");
    });
</script>

<script>
    function getInfo() {
        let temp = $('#facility-type').val();

        if (temp == "-1") {
            $('#standard-room').hide();
            $('#other-convenience').hide();
            $('#pool-area').hide();
            $('#number-of-floors').hide();
            $('#free-facility').hide();
        }
        if (temp == "1") {
            $('#standard-room').show();
            $('#other-convenience').show();
            $('#pool-area').show();
            $('#number-of-floors').show();
            $('#free-facility').hide();
        }
        if (temp == "2") {
            $('#standard-room').show();
            $('#other-convenience').show();
            $('#number-of-floors').show();
            $('#pool-area').hide();
            $('#free-facility').hide();
        }
        if (temp == "3") {
            $('#free-facility').show();
            $('#standard-room').hide();
            $('#other-convenience').hide();
            $('#number-of-floors').hide();
            $('#pool-area').hide();
        }
    }
</script>

</body>
</html>