<section class="facility-container hero-animated d-flex align-items-center">
  <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative">
    <h3>Customer List</h3>
    <div class="d-inline-flex">
      <a href="">
        <button class="btn-create">New Customer</button>
      </a>
      <form action="">
        <input class="input-search" type="text" placeholder="Search" name="search">
        <button class="btn-create scrollto">Search</button>
      </form>
    </div>
    <!--        Announce-->
    <!--            <div style="margin-top: 20px" th:if="${msg}">-->
    <!--                <small th:utext="${msg}" style="color: green;"></small>-->
    <!--            </div>-->
    <!--            <div style="margin-top: 20px" th:if="${msgDelete}">-->
    <!--                <small th:utext="${msgDelete}" style="color: red;"></small>-->
    <!--            </div>-->
    <!--            <div  style="margin-top: 50px">-->
    <!--                <p style="font-style: italic" th:if="${msgNotFound}" th:utext="${msgNotFound}"></p>-->
    <!--            </div>-->
    <table style="width: 100%">
      <thead>
      <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Customer Type</th>
        <th>Date Of Birth</th>
        <th>Gender</th>
        <th>ID Card</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th>
        <th colspan="2">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>a</td>
        <td class="text-left">a</td>
        <td>a</td>
        <td class="text-left">a</td>
        <td>a</td>
        <td class="text-left">a</td>
        <td class="text-left">a</td>
        <td class="text-left">a</td>
        <td class="text-left">a</td>
        <td>
          <a href="">
            <button class="btn-edit">edit</button>
          </a>
        </td>
        <td>
          <button class="btn-delete" data-bs-toggle="modal"
                  data-bs-target="#exampleModal">delete
          </button>
        </td>
      </tr>
      <tr>
        <td>a</td>
        <td class="text-left">a</td>
        <td>a</td>
        <td class="text-left">a</td>
        <td>a</td>
        <td class="text-left">a</td>
        <td class="text-left">a</td>
        <td class="text-left">a</td>
        <td class="text-left">a</td>
        <td>
          <a href="">
            <button class="btn-edit">edit</button>
          </a>
        </td>
        <td>
          <button class="btn-delete" data-bs-toggle="modal"
                  data-bs-target="#exampleModal">delete
          </button>
        </td>
      </tr>
      <tr>
        <td>a</td>
        <td class="text-left">a</td>
        <td>a</td>
        <td class="text-left">a</td>
        <td>a</td>
        <td class="text-left">a</td>
        <td class="text-left">a</td>
        <td class="text-left">a</td>
        <td class="text-left">a</td>
        <td>
          <a href="">
            <button class="btn-edit">edit</button>
          </a>
        </td>
        <td>
          <button class="btn-delete" data-bs-toggle="modal"
                  data-bs-target="#exampleModal">delete
          </button>
        </td>
      </tr>
      <tr>
        <td>a</td>
        <td class="text-left">a</td>
        <td>a</td>
        <td class="text-left">a</td>
        <td>a</td>
        <td class="text-left">a</td>
        <td class="text-left">a</td>
        <td class="text-left">a</td>
        <td class="text-left">aaaaaaaaaaaa</td>
        <td>
          <a href="">
            <button class="btn-edit">edit</button>
          </a>
        </td>
        <td>
          <button class="btn-delete" data-bs-toggle="modal"
                  data-bs-target="#exampleModal">delete
          </button>
        </td>
      </tr>
      <tr>
        <td>a</td>
        <td class="text-left">a</td>
        <td>a</td>
        <td class="text-left">a</td>
        <td>a</td>
        <td class="text-left">a</td>
        <td class="text-left">a</td>
        <td class="text-left">a</td>
        <td class="text-left">aaa</td>
        <td>
          <a href="">
            <button class="btn-edit">edit</button>
          </a>
        </td>
        <td>
          <button class="btn-delete" data-bs-toggle="modal"
                  data-bs-target="#exampleModal">delete
          </button>
        </td>
      </tr>
      </tbody>
    </table>


    <!--Pagination-->
    <div class="d-flex justify-content-end">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item ">
            <a class="page-link bg-warning" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item ">
            <a class="page-link bg-warning" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>

  </div>
</section>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Customer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure to delete customer <strong style="color: #bb2d3b">XYZ</strong>
        <br>(phone: <strong style="color: #bb2d3b">0912345678</strong>)?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a href="">
          <button type="button" class="btn-modal-delete">Delete</button>
        </a>
      </div>
    </div>
  </div>
</div>
