<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="~{index::head}">
    <meta charset="UTF-8">
    <title>Employee</title>
    <link rel="stylesheet" href="/assets/css/custom.css">
</head>
<body>
<header th:replace="~{index::header}"></header>
<session class="hero-animated d-flex align-items-center">
    <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative">

        <div class="card w-100">
            <h2>New Employee</h2>
            <form action="" method="post">
                <div class="row">

                    <div class="col">
                        <div class="form-group">
                            <label>Employee Name</label>
                            <input type="text">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Date Of Birth</label>
                            <input type="date">
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label>ID Card</label>
                            <input type="text">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Position</label>
                            <select>
                                <option value="" disabled selected>--Select Position--</option>
                                <option value="">General Manager</option>
                                <option value="">Manager</option>
                                <option value="">Employee</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Salary</label>
                            <input type="text">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Education Degree</label>
                            <select>
                                <option value="" disabled selected>--Select Education Degree--</option>
                                <option value="">University</option>
                                <option value="">College</option>
                                <option value="">High School</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Phone Number</label>
                            <input type="text">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Division</label>
                            <select>
                                <option value="" disabled selected>--Select Division--</option>
                                <option value="">Marketing</option>
                                <option value="">Restaurant</option>
                                <option value="">Sale</option>
                                <option value="">Finance</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Address</label>
                            <input type="text">
                        </div>
                    </div>
                    <div class="col">
                        <label> </label>
                        <input type="submit" value="Submit">
                    </div>

                </div>
            </form>
        </div>


    </div>
</session>
<footer th:replace="~{index::footer}"></footer>

<th:block th:insert="~{index::script}"></th:block>
</body>
</html>
