<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="~{index::head}">
    <meta charset="UTF-8">
    <title>Customer</title>
    <link rel="stylesheet" href="/assets/css/custom.css">
</head>
<body>
<header th:replace="~{index::header}"></header>
<session class="hero-animated d-flex align-items-center">
    <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative">
        <h3>Customer List</h3>
        <div class="d-inline-flex">
            <a th:href="@{/customer/create}"><button class="btn-create" >New Customer</button></a>
            <form action="" method="post">
                <input class="input-search" type="text" placeholder="Search">
                <button class="btn-create scrollto" href="#">Search</button>
            </form>
        </div>
        <table style="width: 100%">
            <thead>
            <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Customer Type</th>
                <th>Date Of Birth</th>
                <th>Gender</th>
                <th>ID Card</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Address</th>
                <th colspan="2">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Item</td>
                <td>Item</td>
                <td>Item</td>
                <td>Item</td>
                <td>Item</td>
                <td>Item</td>
                <td>Item</td>
                <td>Item</td>
                <td>Item</td>
                <td>
                    <a th:href="@{/customer/edit}"><button class="btn-edit">edit</button></a>
                </td>
                <td>
                    <button class="btn-delete" data-bs-toggle="modal" data-bs-target="#exampleModal">delete</button>
                </td>
            </tr>
            <tr>
                <td>Item</td>
                <td>Item</td>
                <td>Item</td>
                <td>Item</td>
                <td>Item</td>
                <td>Item</td>
                <td>Item</td>
                <td>Item</td>
                <td>Item</td>
                <td>
                    <a th:href="@{/customer/edit}"><button class="btn-edit">edit</button></a>
                </td>
                <td>
                    <button class="btn-delete" data-bs-toggle="modal" data-bs-target="#exampleModal">delete</button>
                </td>
            </tr>
            </tbody>
        </table>


        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete Customer</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure to delete customer with ID <strong style="color: #bb2d3b">...</strong>, name
                        <strong style="color: #bb2d3b">...</strong>?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <a th:href="@{#}"><button type="button" class="btn-modal-delete">Delete</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</session>
<footer th:replace="~{index::footer}"></footer>
<th:block th:replace="~{index::script}"></th:block>
</body>
</html>