<section class="facility-container d-flex align-items-center">
  <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative">

    <div class="card w-75">
      <h2>Update Facility</h2>
      <form action="" method="post">
        <div class="row m-auto">
          <!--                    id-->
          <input type="text" hidden>
          <div class="col">
            <div class="form-group">
              <label>Facility Name</label>
              <input type="text">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label>Area</label>
              <input type="text">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label>Cost (VND)</label>
              <input type="text">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label>Max People</label>
              <input type="number">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label>Rent Type</label>
              <select>
                <option value="" hidden selected>--Select Rent Type--</option>
                <option>Year</option>
                <option>Month</option>
                <option>Day</option>
                <option>Hour</option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label>Facility Type</label>
              <select id="facility-type" (change)="changeFacility($event.currentTarget.value)">
                <option value="" hidden selected>--Select Facility Type--</option>
                <option value="villa">Villa</option>
                <option value="house">House</option>
                <option value="room">Room</option>
              </select>
            </div>
          </div>
        </div>

        <div class="mt-3" *ngIf="selectedFacility =='villa'">
          <app-villa-edit></app-villa-edit>
        </div>
        <div class="mt-3" *ngIf="selectedFacility =='house'">
          <app-house-edit></app-house-edit>
        </div>
        <div class="mt-3" *ngIf="selectedFacility =='room'">
          <app-room-edit></app-room-edit>
        </div>

        <div class="col mt-lg-4">
          <a class=" btn btn-secondary" href="">Cancel</a>
          <button class=" btn btn-success ms-5" type="submit">Submit</button>
        </div>


      </form>
    </div>
  </div>

</section>
