<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="~{index::head}">
    <meta charset="UTF-8">
    <title>Update Facility</title>
    <link rel="stylesheet" href="/assets/css/custom.css">
</head>
<body>
<header th:replace="~{index::header}"></header>
<session class="hero-animated d-flex align-items-center">
    <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative">

        <div class="card w-100">
            <h2>Update Facility</h2>
            <form th:action="@{/facility/edit}" method="post" th:object="${facility}">
                <div class="row m-auto">
                    <input type="text" th:field="*{facilityId}" hidden>
                    <div class="col">
                        <div class="form-group">
                            <label>Facility Name</label>
                            <input type="text" th:field="*{facilityName}">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Area</label>
                            <input type="text" th:field="*{area}">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Cost (VND)</label>
                            <input type="text" th:field="*{cost}">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Max People</label>
                            <input type="number" th:field="*{maxPeople}">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Rent Type</label>
                            <select th:field="*{rentType}">
                                <optgroup title="--Select Rent Type--"></optgroup>
                                <option th:each="temp:${rentTypeList}"
                                        th:if="${facility.rentType.rentTypeId == temp.rentTypeId}"
                                        th:value="${temp.rentTypeId}" th:text="${temp.rentTypeName}" selected>
                                </option>
                                <option th:each="temp:${rentTypeList}"
                                        th:if="${facility.rentType.rentTypeId != temp.rentTypeId}"
                                        th:value="${temp.rentTypeId}" th:text="${temp.rentTypeName}">
                                </option>
                                </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Facility Type</label>
                            <select id="facility-type" th:field="*{facilityType}" >
                                <optgroup title="--Select Facility Type--"></optgroup>
                                <option th:value="*{facilityType.facilityTypeId}" th:text="*{facilityType.facilityTypeName}" readonly>
                                </option>
<!--                                <option th:each="temp:${facilityTypeList}"-->
<!--                                        th:if="${facility.facilityType.facilityTypeId == temp.facilityTypeId}"-->
<!--                                        th:value="${temp.facilityTypeId}" th:text="${temp.facilityTypeName}" readonly>-->
<!--                                </option>-->
<!--                                <option th:each="temp:${facilityTypeList}"-->
<!--                                        th:if="${facility.facilityType.facilityTypeId != temp.facilityTypeId}"-->
<!--                                        th:value="${temp.facilityTypeId}" th:text="${temp.facilityTypeName}">-->
<!--                                </option>-->
                            </select>
                        </div>
                    </div>
                    <div class="col" id="standard-room" th:if="*{standardRoom!=''}">
                        <div class="form-group">
                            <label>Standard Room</label>
                            <input type="text" th:field="*{standardRoom}">
                        </div>
                    </div>

                    <div class="col" id="other-convenience" th:if="*{otherConvenience!=''}">
                        <div class="form-group">
                            <label>Other Convenience</label>
                            <input type="text" th:field="*{otherConvenience}">
                        </div>
                    </div>
                    <div class="col" id="pool-area" th:if="*{poolArea!=0}">
                        <div class="form-group">
                            <label>Pool Area</label>
                            <input type="text" th:field="*{poolArea}">
                        </div>
                    </div>
                    <div class="col" id="number-of-floors" th:if="*{numberOfFloors!=0}">
                        <div class="form-group">
                            <label>Number of Floors</label>
                            <input type="number" th:field="*{numberOfFloors}">
                        </div>
                    </div>
                    <div class="col" id="free-facility" th:if="*{freeFacility!=''}">
                        <div class="form-group">
                            <label>Free Facility</label>
                            <input type="text" th:field="*{freeFacility}">
                        </div>
                    </div>

                    <div class="col">
                        <a class="btn btn-secondary" th:href="@{/facility}" th:text="Cancel"></a>

                        <button class="btn btn-modal-delete" type="submit">Submit</button>
                    </div>

                </div>
            </form>
        </div>


    </div>
</session>
<footer th:replace="~{index::footer}"></footer>

<th:block th:insert="~{index::script}"></th:block>
</body>
</html>
<script>
    // function getInfo() {
    //     let temp = $('#facility-type').val();
    //
    //     if (temp == "1") {
    //         $('#standard-room').show();
    //         $('#other-convenience').show();
    //         $('#pool-area').show();
    //         $('#number-of-floors').show();
    //         $('#free-facility').hide();
    //     }
    //     if (temp == "2") {
    //         $('#standard-room').show();
    //         $('#other-convenience').show();
    //         $('#number-of-floors').show();
    //         $('#pool-area').hide();
    //         $('#free-facility').hide();
    //     }
    //     if (temp == "3") {
    //         $('#free-facility').show();
    //         $('#standard-room').hide();
    //         $('#other-convenience').hide();
    //         $('#number-of-floors').hide();
    //         $('#pool-area').hide();
    //     }
    // }
</script>
