<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="~{index::head}">
    <meta charset="UTF-8">
    <title>New Facility</title>
    <link rel="stylesheet" href="/assets/css/custom.css">
</head>
<body>
<header th:replace="~{index::header}"></header>
<session class="hero-animated d-flex align-items-center">
    <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative">

        <div class="card" id="cardCreateContract">
            <h2>New Facility</h2>
            <form th:action="@{/contract/create}" method="post" th:object="${contract}">
                <div class="row m-auto">
                    <div class="col">
                        <div class="form-group">
                            <label>Start Date</label>
                            <input type="date" th:field="*{startDate}" id="startDate">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>End Date</label>
                            <input type="date" th:field="*{endDate}" id="endDate">
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label>Customer</label>
                            <select th:field="*{customer}" id="customer">
                                <option value="" hidden selected>--Select Customer--</option>
                                <option th:each="customer:${customerList}" th:value="${customer.customerId}"
                                        th:text="${customer.customerName}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label>Facility</label>
                            <select th:field="*{facility}" id="facility">
                                <option value="" hidden selected>--Select Facility--</option>
                                <option th:each="temp:${facilityList}" th:value="${temp.facilityId}"
                                        th:text="${temp.facilityName}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Employee</label>
                            <select th:field="*{employee}" id="employee">
                                <option value="" hidden selected>--Select Employee--</option>
                                <option th:each="employee:${employeeList}" th:value="${employee.employeeId}"
                                        th:text="${employee.employeeName}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Deposit</label>
                            <input type="text" th:field="*{deposit}" id="deposit">
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label>Total</label>
                            <input type="text" readonly id="totalPayment">
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label>Attach Facility</label>
                            <input type="button" value="+" data-bs-toggle="modal"
                                   data-bs-target="#modalAddContractDetail">
                        </div>
                    </div>

                    <!-- Attach Facility-->
                    <input type="hidden" id="attachFacilityId" name="attachFacilityId">

                    <!-- Quantity-->
                    <input type="hidden" id="quantity" name="quantity">


                    <div class="col">
                        <a class="btn btn-secondary" th:href="@{/contract}">Back</a>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-modal-delete">Submit</button>
                    </div>
                </div>
            </form>
        </div>


        <!--Modal Add Contract Detail-->

        <div class="modal fade modal-create " id="modalAddContractDetail" tabindex="-1"
             aria-labelledby="modalAddContractDetailLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable ">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5>New Contract Detail</h5>
                    </div>
                    <div class="modal-body">
                        <!--                        <form>-->
                        <table border="none">
                            <tr>
                                <td><label>Attach Facility</label></td>
                                <td>
                                    <select id="attachFacilityModal">
                                        <option value="" hidden selected>--Select Attach Facility--</option>
                                        <option th:each="temp:${attachFacilityList}"
                                                th:value="${temp.attachFacilityId}"
                                                th:text="${temp.attachFacilityName}"></option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><label>Quantity</label></td>
                                <td><input type="number" id="quantityModal"></td>
                            </tr>
                            <td colspan="2">
                                <a class="btn btn-secondary" data-bs-dismiss="modal"
                                   style="margin-right: 200px">Close</a>
                                <button type="button" id="submitContractDetail" data-bs-dismiss="modal"
                                        class="btn-modal-delete">Add
                                </button>
                            </td>
                        </table>
                        <!--                        </form>-->
                    </div>
                </div>
            </div>
        </div>


    </div>
</session>
<footer th:replace="~{index::footer}"></footer>

<th:block th:insert="~{index::script}"></th:block>

<script>
    $("#submitContractDetail").click(function () {
        console.log(2)
        $("#attachFacilityId").val($("#attachFacilityModal").val());
        $("#quantity").val($("#quantityModal").val());
        getTotalPayment();
    });

    $("#facility").on("change", function () {
        let id = $("#facility").val();
        getFacilityCost();
    })

    function getFacilityCost() {
        let facilityId = $("#facility").val();
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: "GET",
            url: "http://localhost:8080/restContract/getFacilityCost/" + facilityId,
            success: function (data) {
                $("#totalPayment").val(data);
            },
            error: function (resultError) {
                console.log("Fail");
            }
        })
    }

    // function getTotalPayment() {
    //     $.ajax({
    //         headers: {
    //             'Accept': 'application/json',
    //             'Content-Type': 'application/json'
    //         },
    //         type: "GET",
    //         url: "http://localhost:8080/restContract/totalWhenAddContractDetail",
    //         success: function (data) {

    //         }
    //     })
    // }

    function getTotalPayment() {
        let attachFacilityId = $("#attachFacilityId").val();
        let attachFacilityQuantity = $("#quantity").val();
        let total = parseInt($("#totalPayment").val());

        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: "GET",
            url: "http://localhost:8080/restContract/getAttachFacilityCost/" + attachFacilityId,
            success: function (data) {
                let totalAttachFacilityCost = data * attachFacilityQuantity;
                total += totalAttachFacilityCost;
                $("#totalPayment").val(total);
            },
            error: function (resultError) {
                console.log("Fail");
            }
        })

    }
</script>
</body>
</html>