<!--thuc hanh 1 - timelines-->
<!--<a routerLink="/timelines">Ứng dụng tính thời gian sống</a>-->
<!--<router-outlet></router-outlet>-->

<!--thuc hanh 2 - song management-->
<!--<a routerLink="/youtube">Youtube</a>-->
<!--<router-outlet></router-outlet>-->

<!--thuc hanh 3 - product management-->
<!--<a routerLink="/product/list">Product List</a> | <a routerLink="/product/create">Add New Product</a>-->
<!--<router-outlet></router-outlet>-->

<!--bai tap 1 - dictionary-->
<!--<a routerLink="/dictionary">Dictionary</a>-->
<!--<router-outlet></router-outlet>-->

<!--bai tap 2 - product management-->
<a routerLink="/product/list">Product List</a> | <a routerLink="/product/create">Add New Product</a>
<router-outlet></router-outlet>
