<div class="header container-fluid d-flex align-items-center justify-content-between">
  <a routerLink="home" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
    <img src="/assets/img/ex-logo.png" alt="exam-logo">
    <h1>Exam</h1>
  </a>
  <nav id="navbar" class="navbar">
    <ul>
      <li><a class="nav-link scrollto" routerLink="home">Home</a></li>
      <li><a class="nav-link scrollto" routerLink="/block">Product Block</a></li>
      <li><a class="nav-link scrollto" routerLink="/importBlock">Import New Block</a></li>

    </ul>
    <i class="bi bi-list mobile-nav-toggle d-none"></i>
  </nav>
</div>
