<!--<div class="tab-pane fade" id="tab-pane-2">-->
  <h4 class="mb-3">Thông số kỹ thuật</h4>
  <div class="row">
    <div class="col-md-6">
      <ul>
        <li class="mt-4 mb-4">
          <span class="font-weight-bold">Màn hình</span>
          <table class="w-75 ">
            <tr class="border-bottom">
              <td class="w-50">Công nghệ màn hình:</td>
              <td class="w-50">OLED</td>
            </tr>
            <tr class="border-bottom">
              <td class="w-50">Độ phân giải:</td>
              <td class="w-50">1284 x 2778 Pixels</td>
            </tr>
            <tr class="border-bottom">
              <td class="w-50">Màn hình rộng:</td>
              <td class="w-50">6.7" - Tần số quét 120 Hz</td>
            </tr>
            <tr class="border-bottom">
              <td class="w-50">Độ sáng tối đa:</td>
              <td class="w-50">1200 nits</td>
            </tr>
          </table>
        </li>
        <li class="mt-4 mb-4">
          <span class="font-weight-bold">Camera trước</span>
          <table class="w-75 ">
            <tr class="border-bottom">
              <td class="w-50">Độ phân giải:</td>
              <td class="w-50">12MP</td>
            </tr>
            <tr class="border-bottom">
              <td class="w-50 align-text-top">Tính năng:</td>
              <td class="w-50">Nhận diện khuôn mặt<br>
                Quay video 4K<br>
                Quay video Full HD<br>
                Quay video HD<br>
                Smart HDR 4<br>
                Tự động lấy nét (AF)<br>
                Xóa phông
              </td>
            </tr>
          </table>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul class="list-group list-group-flush">
        <li class="mt-4 mb-4">
          <span class="font-weight-bold">Camera sau</span>
          <table class="w-75">
            <tr class="border-bottom">
              <td class="w-50">Độ phân giải:</td>
              <td class="w-50"> 3 camera 12 MP</td>
            </tr>
            <tr class="border-bottom">
              <td class="w-50 align-text-top">Quay phim:</td>
              <td class="w-50">4K 2160p@24fps<br>
                4K 2160p@30fps<br>
                4K 2160p@60fps<br>
                FullHD 1080p@120fps<br>
                FullHD 1080p@240fps<br>
                FullHD 1080p@30fps<br>
                FullHD 1080p@60fps<br>
                HD 720p@30fps<br>
              </td>
            </tr>
            <tr class="border-bottom">
              <td class="w-50 align-text-top">Đèn Flash:</td>
              <td class="w-50">Có</td>
            </tr>
            <tr class="border-bottom">
              <td class="w-50 align-text-top">Tính năng:</td>
              <td class="w-50">
                Ban đêm (Night Mode)<br>
                Chạm lấy nét<br>
                Chống rung quang học (OIS)<br>
                Cinematic<br>
                Deep Fusion<br>
                Dolby Vision HDR<br>
                Góc rộng (Wide)<br>
                Góc siêu rộng (Ultrawide)<br>
                Nhận diện khuôn mặt<br>
                Quay chậm (Slow Motion)<br>
                Siêu cận (Macro)<br>
                Smart HDR 4<br>
                Toàn cảnh (Panorama)<br>
                Trôi nhanh thời gian (Time Lapse)<br>
                Tự động lấy nét (AF)<br>
                Xóa phông<br>
                Zoom kỹ thuật số<br>
                Zoom quang học<br>
                Ảnh Raw<br></td>
            </tr>
          </table>
        </li>
      </ul>
    </div>
  </div>
<!--</div>-->
