<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="~{index::head}">
    <meta charset="UTF-8">
    <title>Contract</title>
    <link rel="stylesheet" href="/static/assets/css/custom.css">
</head>
<body>
<header th:replace="~{index::header}"></header>
<session class="hero-animated d-flex align-items-center">
    <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative">
        <h3>Contract List</h3>
        <div class="d-inline-flex">
            <a th:href="@{/contract/create}">
                <button class="btn-create">New Contract</button>
            </a>
            <form action="" method="post">
                <input class="input-search" type="text" placeholder="Search">
                <button class="btn-create scrollto" href="">Search</button>
            </form>
        </div>

        <div style="margin-top: 20px" th:if="${msg}">
            <small th:utext="${msg}" style="color: green;"></small>
        </div>
        <div style="margin-top: 20px" th:if="${msgDelete}">
            <small th:utext="${msgDelete}" style="color: red;"></small>
        </div>
        <div style="margin-top: 50px">
            <p style="font-style: italic" th:if="${msgNotFound}" th:utext="${msgNotFound}"></p>
        </div>

        <table style="width: 100%">
            <thead>
            <tr>
                <th>No.</th>
                <th>Facility</th>
                <th>Customer</th>
                <th>Employee</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Deposit</th>
                <th>Total</th>
                <th colspan="2">Attach Facility</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="contract, loop : ${contractList}">
                <td th:text="${loop.count}"></td>
                <td th:text="${contract.facility.facilityName}"></td>
                <td th:text="${contract.customer.customerName}"></td>
                <td th:text="${contract.employee.employeeName}"></td>
                <td th:text="${contract.startDate}"></td>
                <td th:text="${contract.endDate}"></td>
                <td th:text="${contract.deposit}"></td>
                <td>Total</td>
                <td>
                    <button class="btn btn-free-facility" data-bs-toggle="modal"
                            th:data-bs-target="'#modalAddContractDetail' + ${contract.contractId}">
                        +
                    </button>
                </td>
                <td>
                    <button class="btn btn-free-facility" data-bs-toggle="modal"
                            th:data-bs-target="'#modalSelectedAttachFacility' + ${contract.contractId}">
                        Selected Attach Facility List
                    </button>
                </td>
                <td>
                    <button class="btn-delete" data-bs-toggle="modal"
                            th:data-bs-target="'#exampleModal'+${contract.contractId}">delete
                    </button>
                </td>


<!--                &lt;!&ndash; Modal Delete &ndash;&gt;-->
<!--                <div class="modal fade" th:id="'exampleModal'+ ${contract.contractId}" tabindex="-1"-->
<!--                     aria-labelledby="exampleModalLabel"-->
<!--                     aria-hidden="true">-->
<!--                    <div class="modal-dialog">-->
<!--                        <div class="modal-content">-->
<!--                            <div class="modal-header">-->
<!--                                <h5 class="modal-title" id="exampleModalLabel">Delete Contract</h5>-->
<!--                                <button type="button" class="btn-close" data-bs-dismiss="modal"-->
<!--                                        aria-label="Close"></button>-->
<!--                            </div>-->
<!--                            <div class="modal-body">-->
<!--                                Are you sure to delete contract of customer-->
<!--                                <strong style="color: #bb2d3b" th:text="${contract.customer.customerName}"></strong> by-->
<!--                                employee-->
<!--                                <strong style="color: #bb2d3b" th:text="${contract.employee.employeeName}"></strong>?-->
<!--                            </div>-->
<!--                            <div class="modal-footer">-->
<!--                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--                                <a th:href="@{/contract/delete/{id}(id=${contract.contractId})}">-->
<!--                                    <button type="button" class="btn-modal-delete">Delete</button>-->
<!--                                </a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->


                <!--Modal Add Contract Detail-->

                <!--                <div class="modal fade modal-create" th:id="'modalAddContractDetail' + ${contract.contractId}"-->
                <!--                     tabindex="-1"-->
                <!--                     aria-labelledby="modalAddContractDetailLabel"-->
                <!--                     aria-hidden="true">-->
                <!--                    <div class="modal-dialog modal-dialog-scrollable m-auto">-->
                <!--                        <div class="modal-content w-100 ">-->
                <!--                            <div class="modal-header">-->
                <!--                                <h5>New Contract Detail</h5>-->
                <!--                            </div>-->
                <!--                            <div class="modal-body">-->
                <!--                                <form th:action="@{/contract/createContractDetail}" method="post"-->
                <!--                                      th:object="${contractDetail}">-->
                <!--                                    <input type="text" th:value="${contract.contractId}" hidden>-->
                <!--                                    <table border="none">-->
                <!--                                        <tr>-->
                <!--                                            <td><label>Attach Facility</label></td>-->
                <!--                                            <td>-->
                <!--                                                <select th:field="*{attachFacility}">-->
                <!--                                                    <option value="">&#45;&#45;Select Free Facility&#45;&#45;</option>-->
                <!--                                                    <option th:each="temp:${attachFacilityList}"-->
                <!--                                                            th:value="${temp.attachFacilityId}"-->
                <!--                                                            th:text="${temp.attachFacilityName}"></option>-->
                <!--                                                </select>-->
                <!--                                            </td>-->
                <!--                                        </tr>-->
                <!--                                        <tr>-->
                <!--                                            <td><label>Quantity</label></td>-->
                <!--                                            <td><input type="number" th:field="*{quantity}"></td>-->
                <!--                                        </tr>-->
                <!--                                        <tr>-->
                <!--                                            <td colspan="2">-->
                <!--                                                <a class="btn btn-secondary" data-bs-dismiss="modal"-->
                <!--                                                   style="margin-right: 200px">Close</a>-->
                <!--                                                <button type="submit" class="btn-modal-delete">Add</button>-->
                <!--                                            </td>-->
                <!--                                        </tr>-->
                <!--                                    </table>-->
                <!--                                </form>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->

                <!--                &lt;!&ndash;Modal Show Selected Free Facility List&ndash;&gt;-->

                <!--                <div class="modal fade modal-create " th:id="'modalSelectedAttachFacility'+ ${contract.contractId}"-->
                <!--                     tabindex="-1"-->
                <!--                     aria-labelledby="modalSelectedFreeFacilityLabel"-->
                <!--                     aria-hidden="true">-->
                <!--                    <div class="modal-dialog modal-dialog-scrollable m-auto">-->
                <!--                        <div class="modal-content w-100">-->
                <!--                            <div class="modal-header">-->
                <!--                                <h5>Selected Attach Facility List</h5>-->
                <!--                            </div>-->
                <!--                            <div class="modal-body">-->
                <!--                                <table border="none" style="width: 100%;">-->
                <!--                                    <tr>-->
                <!--                                        <th>Free Facility</th>-->
                <!--                                        <th>Quantity</th>-->
                <!--                                    </tr>-->
                <!--                                    <tr>-->
                <!--                                        <td>Xe đạp</td>-->
                <!--                                        <td>2</td>-->

                <!--                                    </tr>-->
                <!--                                    <tr>-->
                <!--                                        <td>Buffet sáng</td>-->
                <!--                                        <td>4</td>-->
                <!--                                    </tr>-->
                <!--                                </table>-->
                <!--                            </div>-->
                <!--                            <div class="modal-footer">-->
                <!--                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->
            </tr>
            </tbody>

        </table>

        <div class="row align-self-xl-end small">
            <div class="col-12">
                <a th:if="${contractList.hasPrevious()}"
                   th:href="@{contract(page=${contractList.number - 1})}">
                    <i class="bi bi-caret-left-fill"></i>
                </a>
                <span th:text="${contractList.number + 1}"></span>
                /
                <span th:text="${contractList.totalPages}"></span>
                <a th:if="${contractList.hasNext()}"
                   th:href="@{contract(page=${contractList.number + 1})}">
                    <i class="bi bi-caret-right-fill"></i>
                </a>
            </div>
        </div>


    </div>
</session>
<footer th:replace="~{index::footer}"></footer>
<th:block th:replace="~{index::script}"></th:block>
</body>
</html>