<div class="footer-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="footer-info">
                    <h3>Furama Resort</h3>
                    <p>
                        103 - 105 Vo Nguyen Giap Street, Danang City, Vietnam <br>
                        <strong>Phone:</strong> 84-236-3847 333/888<br>
                        <strong>Website:</strong> www.furamavietnam.com<br>
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 footer-newsletter">
                <h4>Our Newsletter</h4>
                <p>Contact or Comment</p>
                <form action="" method="post">
                    <input type="email" name="email"><input type="submit" value="Subscribe">
                </form>
            </div>
        </div>
    </div>
</div>

<div class="footer-legal text-center">
    <div class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">
        <div class="d-flex flex-column align-items-center align-items-lg-start">
            <div class="copyright">
                &copy; Copyright <strong><span>Jeep</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </div>
</div>