<!DOCTYPE html>
<html lang="en">
<head id="head">
</head>
<body>
<header id="header"></header>

<section class="hero-animated d-flex align-items-center">
    <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative">
        <h3>Customer List</h3>
        <div class="d-inline-flex">
            <a href="">
                <button class="btn-create">New Customer</button>
            </a>
            <form action="">
                <input class="input-search" type="text" placeholder="Search" name="search" value="">
                <button class="btn-create scrollto">Search</button>
            </form>
        </div>
        <!--        <div style="margin-top: 20px" >-->
        <!--            <small  style="color: green;"></small>-->
        <!--        </div>-->

        <table style="width: 100%">
            <thead>
            <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Customer Type</th>
                <th>Date Of Birth</th>
                <th>Gender</th>
                <th>ID Card</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Address</th>
                <th colspan="2">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td class="text-left">ABC</td>
                <td>q</td>
                <td>ư</td>
                <td>ư</td>
                <td>q</td>
                <td>q</td>
                <td>q</td>
                <td>q</td>
                <td>
                    <a href="">
                        <button class="btn-edit">edit</button>
                    </a>
                </td>
                <td>
                    <button class="btn-delete" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">delete
                    </button>
                </td>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Delete </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure to delete <strong style="color: #bb2d3b"> ABC</strong>?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <a href="">
                                    <button type="button" class="btn-modal-delete">Delete</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </tr>
            </tbody>
        </table>
        <div class="row align-self-xl-end small">
            <div class="col-12">
                <a href="">
                    <i class="bi bi-caret-left-fill"></i>
                </a>
                <span></span>
                /
                <span></span>
                <a href="">
                    <i class="bi bi-caret-right-fill"></i>
                </a>
            </div>
        </div>
    </div>
</section>
<footer id="footer"></footer>
<script id="script"></script>
<script src="../static/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#head").load("head.html");
        $("#header").load("header.html");
        $("#footer").load("footer.html");
        $("#script").load("script.html");
    });
</script>


</body>
</html>