<section class="facility-container">
  <div class="card-title-facility  bg-dark text-white border-0 ">
    <img src="/assets/img/fFacility-bg.jpg" class="card-img" alt="...">
    <div class="card-img-overlay text-center ">
      <h1 class="card-title">ROOM & SUITES</h1>
    </div>
  </div>


  <div class="row gy-5 facilities">
    <div class="card col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="50" *ngFor="let facility of facilities">
      <img src="/assets/img/fGarden-Deluxe-twin-bed.jpg" class="card-img-top"
           alt="Garden-Deluxe-twin-bed">
      <div class="card-body">
        <a ><p class="card-text">{{facility.name}}</p></a>
        <small>Room size: {{facility.area}} m2</small><br>
        <small>Price: {{facility.cost}} VND</small>
        <p>
          <a [routerLink]="['/facility/edit',facility.id]"><i class="bi bi-pencil"></i></a>
          <a data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="bi bi-trash"></i>
          </a>
          <router-outlet></router-outlet>
        </p>
      </div>
    </div>

    <div class="card col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="50">
      <a routerLink="/facility/create" style="width: 40%; margin: 30% ">
        <img src="/assets/img/fplus.png" class="card-img-top"
             alt="Add new facility">
      </a>
      <div class="card-body">
        <a href="/facility/create"><p class="card-text">Add Facility</p></a>
      </div>
    </div>


  </div>

</section>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure to delete <strong style="color: #bb2d3b"> ABC</strong>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a>
          <button type="button" class="btn btn-modal-delete">Delete</button>
        </a>
      </div>
    </div>
  </div>
</div>

<!--Pagination-->
<div class="d-flex justify-content-end">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link"  aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" >1</a></li>
      <li class="page-item"><a class="page-link" >2</a></li>
      <li class="page-item"><a class="page-link" >3</a></li>
      <li class="page-item">
        <a class="page-link"  aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>



