<section class="facility-container">
  <div class="card-title-facility  bg-dark text-white border-0">
    <img src="/assets/img/fFacility-bg.jpg" class="card-img" alt="...">
    <div class="card-img-overlay text-center">
      <h1 class="card-title ">ROOM & SUITES</h1>
    </div>
  </div>


  <div class="row gy-5 facilities">
    <div class="card col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="50">
      <img src="/assets/img/fGarden-Deluxe-twin-bed.jpg" class="card-img-top"
           alt="Garden-Deluxe-twin-bed">
      <div class="card-body">
        <a href=""><p class="card-text">Garden Deluxe</p></a>
        <small>Room size: 43.7 m2</small><br>
        <small>Price: 1.000.000 VND</small>
        <p>
          <a href=""><i class="bi bi-pencil"></i></a>
          <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="bi bi-trash"></i>
          </a>
        </p>
      </div>
    </div>
    <div class="card col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="50">
      <img src="/assets/img/fGarden-Deluxe-twin-bed.jpg" class="card-img-top"
           alt="Garden-Deluxe-twin-bed">
      <div class="card-body">
        <a href=""><p class="card-text">Garden Deluxe</p></a>
        <small>Room size: 43.7 m2</small><br>
        <small>Price: 1.000.000 VND</small>
        <p>
          <a href=""><i class="bi bi-pencil"></i></a>
          <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="bi bi-trash"></i>
          </a>
        </p>
      </div>
    </div>
    <div class="card col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="50">
      <img src="/assets/img/fGarden-Deluxe-twin-bed.jpg" class="card-img-top"
           alt="Garden-Deluxe-twin-bed">
      <div class="card-body">
        <a href=""><p class="card-text">Garden Deluxe</p></a>
        <small>Room size: 43.7 m2</small><br>
        <small>Price: 1.000.000 VND</small>
        <p>
          <a href=""><i class="bi bi-pencil"></i></a>
          <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="bi bi-trash"></i>
          </a>
        </p>
      </div>
    </div>
    <div class="card col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="50">
      <img src="/assets/img/fGarden-Deluxe-twin-bed.jpg" class="card-img-top"
           alt="Garden-Deluxe-twin-bed">
      <div class="card-body">
        <a href=""><p class="card-text">Garden Deluxe</p></a>
        <small>Room size: 43.7 m2</small><br>
        <small>Price: 1.000.000 VND</small>
        <p>
          <a href=""><i class="bi bi-pencil"></i></a>
          <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="bi bi-trash"></i>
          </a>
        </p>
      </div>
    </div>
    <div class="card col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="50">
      <img src="/assets/img/fGarden-Deluxe-twin-bed.jpg" class="card-img-top"
           alt="Garden-Deluxe-twin-bed">
      <div class="card-body">
        <a href=""><p class="card-text">Garden Deluxe</p></a>
        <small>Room size: 43.7 m2</small><br>
        <small>Price: 1.000.000 VND</small>
        <p>
          <a href=""><i class="bi bi-pencil"></i></a>
          <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="bi bi-trash"></i>
          </a>
        </p>
      </div>
    </div>
    <div class="card col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="50">
      <img src="/assets/img/fGarden-Deluxe-twin-bed.jpg" class="card-img-top"
           alt="Garden-Deluxe-twin-bed">
      <div class="card-body">
        <a href=""><p class="card-text">Garden Deluxe</p></a>
        <small>Room size: 43.7 m2</small><br>
        <small>Price: 1.000.000 VND</small>
        <p>
          <a href=""><i class="bi bi-pencil"></i></a>
          <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="bi bi-trash"></i>
          </a>
        </p>
      </div>
    </div>
    <div class="card col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="50">
      <img src="/assets/img/fGarden-Deluxe-twin-bed.jpg" class="card-img-top"
           alt="Garden-Deluxe-twin-bed">
      <div class="card-body">
        <a href=""><p class="card-text">Garden Deluxe</p></a>
        <small>Room size: 43.7 m2</small><br>
        <small>Price: 1.000.000 VND</small>
        <p>
          <a href=""><i class="bi bi-pencil"></i></a>
          <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="bi bi-trash"></i>
          </a>
        </p>
      </div>
    </div>
    <div class="card col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="50">
      <img src="/assets/img/fGarden-Deluxe-twin-bed.jpg" class="card-img-top"
           alt="Garden-Deluxe-twin-bed">
      <div class="card-body">
        <a href=""><p class="card-text">Garden Deluxe</p></a>
        <small>Room size: 43.7 m2</small><br>
        <small>Price: 1.000.000 VND</small>
        <p>
          <a href=""><i class="bi bi-pencil"></i></a>
          <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="bi bi-trash"></i>
          </a>
        </p>
      </div>
    </div>
    <div class="card col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="50">
      <img src="/assets/img/fGarden-Deluxe-twin-bed.jpg" class="card-img-top"
           alt="Garden-Deluxe-twin-bed">
      <div class="card-body">
        <a href=""><p class="card-text">Garden Deluxe</p></a>
        <small>Room size: 43.7 m2</small><br>
        <small>Price: 1.000.000 VND</small>
        <p>
          <a href=""><i class="bi bi-pencil"></i></a>
          <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="bi bi-trash"></i>
          </a>
        </p>
      </div>
    </div>
    <div class="card col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="50">
      <a href="" style="width: 40%; margin: 30% ">
        <img src="/assets/img/fplus.png" class="card-img-top"
             alt="Add new facility">
      </a>
      <div class="card-body">
        <a href=""><p class="card-text">Add Facility</p></a>
      </div>
    </div>


  </div>

</section>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure to delete <strong style="color: #bb2d3b"> ABC</strong>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a href="">
          <button type="button" class="btn-modal-delete">Delete</button>
        </a>
      </div>
    </div>
  </div>
</div>

<!--        <div class="row align-self-xl-end small">-->
<!--            <div class="col-12">-->
<!--                <a href="">-->
<!--                    <i class="bi bi-caret-left-fill"></i>-->
<!--                </a>-->
<!--                <span></span>-->
<!--                /-->
<!--                <span></span>-->
<!--                <a href="">-->
<!--                    <i class="bi bi-caret-right-fill"></i>-->
<!--                </a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

